body {
      display: flex;
      justify-content: center;
      align-items: center;
      font-family:Arial, Helvetica, sans-serif;
      margin: 20px;
      background-color: black;
      color: white;
    }
    #search-button{
      background-color: blue;
      color: white;
      border: none;
      padding: 3px;
      cursor: pointer;
    }
    .btn-description {
      background-color: blue;
      color: white;
      border: none;
      padding: 5px 10px;
      margin-top: 5px;
      cursor: pointer;
    }
    #book-list {
      margin-top: 20px;
      height: 200px;
      width: 500px;
    }
    .book-item {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }
    .book-title {
      font-weight: bold;
      color: blue;
    }
    .book-title:hover {
      text-decoration: underline;
    }

    img{
      justify-content: center;
      background-color: transparent
      
    }